click==8.1.2  
click-completion==0.5.2  
click-default-group==1.2.2  
colorama==0.4.4  
commonmark==0.9.1  
cucumber-tag-expressions==4.1.0  
Jinja2==3.1.1  
MarkupSafe==2.1.1  
pip==20.0.2  
pluggy==1.0.0  
pprintpp==0.4.0  
Pygments==2.11.2 
rich==10.16.2
setuptools==44.0.0 
shellingham==1.4.0  
six==1.16.0 
tomli==1.2.3  
cmagick==0.1.2